html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Consolas, "Inconsolata";
  background-color: #111016;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: #56555d;
}

h1,
h2 {
  font-size: 1.5625rem;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

li {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: #e7e6eb;
}

img {
  max-width: 100%;
}

.c-i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-f-g {
  gap: 1.5rem;
}

.container {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: auto;
  margin-right: auto;
}

/* Very Small */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
/* Medium */
@media (min-width: 991px) {
  .container {
    width: 720px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 720px;
  }
}
/* Extra Large */
@media (min-width: 1400px) {
  .container {
    width: 720px;
  }
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  place-items: center;
}
main .main-container {
  margin: 0 auto;
  max-width: 400px;
}
main .main-container .title {
  text-align: center;
  margin-bottom: 2rem;
}
main .main-container .result,
main .main-container .pass-generator-container {
  padding: 1rem;
  background-color: #24232b;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
main .main-container .result {
  max-width: 400px;
  margin-bottom: 1rem;
}
main .main-container .result span {
  max-width: 380px;
  overflow: hidden;
  font-size: 1.8125rem;
  color: #56555d;
}
main .main-container .result .icon svg {
  cursor: pointer;
}
main .main-container .result .icon svg:hover path {
  fill: #7ceb89;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
main .main-container .pass-generator-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}
main .main-container .pass-generator-container .length .char-length-num {
  margin-bottom: 1rem;
}
main .main-container .pass-generator-container .length .char-length-num h4 {
  color: #e7e6eb;
}
main .main-container .pass-generator-container .length .char-length-num .character-length {
  color: #a4ffaf;
  font-size: 1.8125rem;
}
main .main-container .pass-generator-container .length input {
  background: -webkit-gradient(linear, left top, right top, from(#a4ffaf), color-stop(0%, #a4ffaf), color-stop(0%, #111016), to(#111016));
  background: linear-gradient(to right, #a4ffaf 0%, #a4ffaf 0%, #111016 0%, #111016 100%);
  border-radius: 8px;
  height: 3px;
  width: 100%;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
main .main-container .pass-generator-container .length input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #a4ffaf;
  box-shadow: 0 0 5px 0 #a4ffaf;
  border: none;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
main .main-container .pass-generator-container .length input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #a4ffaf;
  -webkit-box-shadow: 0 0 5px 0 #a4ffaf;
          box-shadow: 0 0 5px 0 #a4ffaf;
  border: none;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
main .main-container .pass-generator-container .options {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .main-container .pass-generator-container .options > div:not(:last-child) {
  margin-bottom: 0.5rem;
}
main .main-container .pass-generator-container .options > div input {
  width: 1rem;
  height: 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #e7e6eb;
  cursor: pointer;
}
main .main-container .pass-generator-container .options > div input:checked {
  border: none;
  background-color: #a4ffaf;
}
main .main-container .pass-generator-container .options > div label {
  color: #e7e6eb;
  cursor: pointer;
}
main .main-container .pass-generator-container .strength {
  padding: 1rem;
  background-color: rgba(17, 16, 22, 0.6156862745);
}
main .main-container .pass-generator-container .strength .strength-fill span {
  padding: 3px;
  border: 2px solid #e7e6eb;
  background: transparent;
}
main .main-container .pass-generator-container .strength .strength-fill span:not(:last-child) {
  margin-right: 0.2rem;
}
main .main-container .pass-generator-container .generate-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #a4ffaf;
  color: #111016;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
main .main-container .pass-generator-container .generate-btn i {
  margin-left: 1rem;
}
main .main-container .pass-generator-container .generate-btn:hover {
  background-color: #7ceb89;
}/*# sourceMappingURL=password_generator.css.map */